<launch>
    <!--
    General launch file to display GPS coordinates on a 2D map.
    Will also need to run:
    1) rosrun operations plotOnAerialMap
    2) rosrun rviz rviz
    -->

    <!--
    Parameters
    -->

    <rosparam file="$(find mission_planning)/launch/parameters/default.yaml" command="load"/>

    <!--
    Nodes
    -->
    <node pkg="hardware_interfaces" type="sensor_driver_gps" name="gps" output="screen"/>
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.0 0.0 0.0 0.0 0.0 0.0 map my_frame 100" />

 </launch>
