<!-- 
-->

<launch>
    <!--
    General launch file to display GPS coordinates on a 2D map.
    Will also need to run:
    1) rosrun operations plotOnAerialMap
    2) rosrun rviz rviz
    -->

    <!--
    Parameters
    -->
	<param name="resolution" value="0.02" />
	<param name="frame_id" type="string" value="map" />
	<param name="sensor_model/max_range" value="4.0" />
	<param name="track_changes" value="true"/>
	<param name="listen_changes" value="false"/>
	<param name="topic_changes" value="/octomap_tracking_server/changeset" />
    <param name="min_change_pub" value="0" />

    <!--
    Nodes
    -->
	<node pkg="octomap_server" type="octomap_tracking_server_node" name="octomap_talker" output="screen"/>
    <node pkg="my_sb" type="testConversion" name="testConversion" output="screen"/>
    <!-- <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="10.0 5.0 0.0 0.0 0.0 0.0 map my_frame 100" /> -->

 </launch>
